body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #061b2b;
    font-family: 'Orbitron', sans-serif;}

section{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

section .star{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite;
    background-attachment: scroll;   
}

div{
    width: 100%;
    height: auto;
    align-items: center; 
    color: white;
}

img{
    width: 100%;
  height: auto;
}

canvas {
    overflow: hidden;
    max-width: 50%;
    max-height: 50%;
    border-radius: 100% 100% 100% 100%;
    position: absolute;
    object-fit: contain;
    bottom: 10%;
}

.ueberschrift{
    margin-top: 10%;
}

.logo{
    margin-top: 10%;
    margin-bottom: 10%;
}

.planet1{
    height: 70vh;
    width: auto;
    margin-top: -50%;
    margin-left: 20%;
    position: absolute;
}

/*stars*/
section .star.star1{
    animation-delay: 0s;
    background: url(Resources/star1.png);
}

section .star.star2{
    animation-delay: -1s;
    background: url(Resources/star2.png);
}

section .star.star3{
    animation-delay: -2s;
    background: url(Resources/star3.png);
}

section .star.star4{
    animation-delay: -3s;
    background: url(Resources/star4.png);
}

section .star.star5{
    animation-delay: -4s;
    background: url(Resources/star5.png);
}

section .star.star6{
    animation-delay: -5s;
    background: url(Resources/star6.png);
}

section .star.star7{
    animation-delay: -6s;
    background: url(Resources/star7.png);
}

section .star.star8{
    animation-delay: -7s;
    background: url(Resources/star8.png);
}

@keyframes animate{
    0%,20%,40%,60%,80%,100%{
        opacity: 0;
    }
    10%,30%,50%,70%,90%{
        opacity: 1;
    }
}

@keyframes backgroundmove{
    from{
        transform: translateY(-50%);
    }
    to{
        transform: translateY(50%);
    }

}